
*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li a{
	text-decoration: none;
}

div img{
	display: block;
	width: 100%;
}	

.flex-container{
	display: flex;
	max-width: 992px;
	margin: auto;
	width: 100%;
	min-width: 320px;
	
}

header{
	background-color: yellow;
	height: 100px;
	display: flex;
	align-items: center;
	color: black;
}

header .list-items{
	display: flex;
	width: 100%;
	max-width: 260px;
	justify-content: space-between;
	align-items: center;
}	

header .menu{
	justify-content: space-between;
}

.list-items li a{
	color: black;
}

.apresentacao{
	height: 100vh;
	align-items: center;
	justify-content: space-between;
}

.apresentacao .texto-apresentacao{
	min-height: 200px;
	
}

.texto-apresentacao h1{
	color:#122A57;
	font-size: 48px;
	margin-bottom: 10px;
}

.btn{
	background-color: #122A57;
	color: #fff;
	text-align: center;
	border-radius: 30px;
	width: 220px;
	display: block;
	text-decoration: none;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#vem-ser-banana{
	align-items: center;
	justify-content: space-between;
}	

#vem-ser-banana h2{
	font-size: 32px;
	color: #122A57;
	display: flex;
	margin-bottom: 20px;
}

#vem-ser-banana h2::before{
	content: "";
	height: 50px;
	width: 5px;
	margin-right: 5px;
	background-color: #122A57;
	position: relative;
}	

#vem-ser-banana p{
	margin-bottom: 10px;
	width: 90%;
	text-align: justify;
}

#vem-ser-banana img{
	min-width: 550px;
	
}	

.container-externo{
	background-color: #122A57;
	width: 100%;
}

#servicos{
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 100px;
}

#servicos h2{
	color:#fff;
	font-size: 32px;
	margin-bottom: 20px;
}	

.list-servicos{
	display: flex;
	justify-content: space-between;
}

.list-servicos .item-servico{
	text-align: center;
}

.item-servico a{
	width: 220px;
	background-color: bl;
	border-radius: 30px;
	height: 50px;
	text-align: center;
	margin-top: 20px;
	line-height: 50px;
	padding: 5px 10px;
	color: yellow;
	font-size: 12px;
	text-decoration: none;
	font-weight: 700px;
}

.item-servico p{
	font-weight: 700;
	font-size: 18px;
	color: black;
	margin-top: 20px;
}

.item-servico img{
	width: 80%;
	margin: auto;
}

#banana-card{
	flex-direction: column;
	min-height: 100vh;
	padding-top: 50px;
}

#banana-card h2{
	font-size: 32px;
	
}

.list-banana-card{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.item-banana-card{
	flex: 1;
	border: 5px solid yellow;
	margin-right: 20px;
	padding: 10px;
		
}


.item-banana-card .btn{
	margin: auto;
	margin-bottom: 20px;
}	

.item-banana-card h3{
	font-size: 24px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 20px;
}

.item-banana-card h3::after{
	content: "";
	background-color: yellow;
	width: 100%;
	height: 3px;
	margin-top: 20px;
	margin-bottom: 10px;
	
}

.item-banana-card ul{
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	
}	

.item-banana-card ul li{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

.item-banana-card ul li::before{
	content:"";
	width: 10px;
	height: 10px;
	background-color: black;
	margin-right: 5px;
}

footer{
	background-color: yellow;
	height: 70px;
	display: flex;
	align-items: center;
}

footer .footer {
	justify-content: space-between;
	color: black;
}
