@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 


* {
    margin: 0;
    padding: 0;
}

/* header */

.flex-container-menu  {
    margin: auto;
    width: 100%;
    height: 90px;
    display: flex;  
    background-color: rgb(31, 30, 30);
} 

#logo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.menu-list{
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;    
}	

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    list-style-type: none;
    float: right;
    text-decoration: none;
    color: #fff;    
    font-size: medium;    
}

a:hover {
    color: #ffc107;
}

h1 {
    margin-top: 10px;
    font-size: 30px;
    color: azure;  
    text-align: center;
    font-family: 'Roboto', sans-serif;    
}

/* inicio */

.inicio {
    margin: auto;
    padding: 10px;
    width: auto;
    height: 400px;
    background-color : #ffc107;  
}

.flex-container-inicio {
    margin-top: 90px;
    display: flex;
    justify-content: flex-end;
    
}

#frase-inicial { 
    margin-top: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 64px;
    text-align: center;
}

h3 {
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;    
}

.bananalogo {
    color: #ffc107;
}

#conta-digital {
    text-align: center;
}

#btnbotao {
    margin-left: 20px;
    border-radius: 12px;
    font-size: 20px;
    color: aliceblue;
    background-color : rgb(3, 3, 3);
    padding: 15px 32px;
    text-align: center;
    border: none;
    transition-duration: 0.4s;
}

#btnbotao:hover {
    background-color: rgb(161, 159, 159);
    color: #060500;
}

/* Fale conosco*/

h4 {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.ajuda {
    position: fixed;
    background-color: #ffc107;
    bottom: 0;
    right: 0;
    width: 200px;
    text-align: center;
    border: 3px solid black;
}

/* section - quem somos*/

section {
    width: auto;
    height: 433px;
    margin-bottom: 0px;
    background-color: darkgray;
}

.flex-container-quem-somos {
    display: flex;
    margin: auto;  
   
}

h2 , p {
    font-family: 'Roboto', sans-serif;
}

#quem-somos-h2 {
    margin: 20px 20px 0px 20px;
    padding: 10px 20px;
    font-size: 50px;
    background-color: red;
}

#quem-somos-span {
    color: rgb(28, 154, 45);
    font-size: 40px;
    padding: 10px;
}

p {
    padding: 0px;
    text-align: justify;
    margin: 50px 2px 50px 50px;
    background-color: aqua;
}

#quem-somos-img {
    width: 400px;
    margin: 20px 60px 0px 0px;
    padding: 0px;
}

/* serviços / tabela */

.servicos-img {
    
    background-image: url("/assets/images/banana-fundo-azul.jpg");
    background-size: 300px;      
}

#servicos-h2 {
    font-size: 40px;
    color: azure;
}

.servicos-p {
    background-color: rgb(21, 178, 246);
}
/* tabela */
.tabela {
    background-color: indianred;    
}

table, td, th {
    border: 1px solid;    
    padding: 15px;
    text-align: center;
}

table {
    width: 70%;
}

/* form */

.form {
    width: auto;
    height: 600px;
    background-color: cornflowerblue;

}

/* carrossel */

.depoimentos {
    width: auto;
    height: 600px;
    background-color: darkcyan;
}

.carousel-inner {
    width: 250px;
    height: 350px;
}

/* footer */

footer {
    background-color: coral;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    color: aliceblue;
}

footer a {
    text-decoration: none;
    
}
