@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap'); /*font-family: 'Nunito Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap'); /* font-family: 'Source Code Pro', monospace;*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

a {
    text-decoration: none;
}

/* header */

.flex-container-menu  {
    margin: auto;
    width: 100%;    
    height: 15vh;
    display: flex;  
    background-color: rgb(31, 30, 30); 
} 

#logo {
    margin: auto;
    margin-left: 5vh;
    max-width: 10vh;
    max-height: 10vh;  
}

.menu-list{
    font-family: 'Roboto', sans-serif; 
	display: flex;
	width: auto;
    max-height: 30vh;
    margin: auto;
    justify-content: space-around;        
}	

#menu-nav {       
    width: 100%;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;    
}

li a {
    margin-top: 2vh;
    list-style-type: none;
    float: right;
    text-decoration: none;
    color: #fff;    
    font-size: 20px;    
}

a:hover {
    color: #ffc107;
}

h1 {
    margin:auto;
    margin-top: 3vh;
    font-size: 2em;
    color: azure;  
    text-align: center;
    font-family: 'Roboto', sans-serif;    
}

nav {    
    width: 100%;
    margin-top: 5vh;
}

/* inicio */

.inicio {    
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2vh;
    width: auto;
    height: 77vh;
    background-color : #ffc107;  
}

.flex-container-inicio {
    display: flex;
    justify-content: center;  
}

#frase-inicial { 
    margin: auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 4em;
    text-align: center;    
}

#conta-digital {
    font-family: 'Poppins', sans-serif;
    margin: 2vh; 
    margin-left: 4vh;
    font-size: 3em;
    text-align: center;
}

.bananalogo {
    color: #ffc107;
}

#btnbotao-inicio {
    margin: 3vh 5vh;
    border-radius: 40px;
    font-size: 2em;
    color: aliceblue;
    background-color : rgb(3, 3, 3);
    padding: 0vh 2vh;
    text-align: center;
    border: none;
    transition-duration: 0.4s;
}

#btnbotao-inicio:hover {
    background-color: rgb(161, 159, 159);
    color: #060500;
}

/* conta digital / div oculta - botão */

.conta-digital-externo {
    display: flex;
    margin: 5vh 0vh;    
    font-family: 'Roboto', sans-serif;
}

.conta-digital-form {   
    width: 40%;
    height: 50vh;
    border-radius: 9px;
    background-color: #f2f2f2;
    padding: 3vh;
    padding-top: 10vh;
    margin: auto;
    box-shadow: 5px 10px #888888;
}

#conta-digital-forms input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#conta-digital-button {
    width: 100%;
    background-color: goldenrod;
    color: rgb(23, 21, 21);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#conta-digital-button:hover {
    background-color: #a08045;
}

#oculto-conta-digital-img {
    border-radius: 8px;
    margin: auto;
    width: 100%;   
}    

.conta-digital-img {
    width: 50%;    
    display: inline-block;
    position: relative;
}

.externo-digital-h2 {
    position: absolute;
    width: 100%; 
    font-size: 2em;
    color: #ffc107; 
}

.externo-digital-h2 #primeiro-h2 {
    position: absolute;
    top: 2vh;
    left: 3vh; 
}

.externo-digital-h2 #segundo-h2 {
    position: absolute;
    top: 9vh;
    left: 5vh;    
}

/* Fale conosco*/

h4 {
    margin: 10px auto 5px auto;
    font-size: 22px;    
    font-family: 'Poppins', sans-serif;
}

.ajuda {
    position: fixed;
    background-color: #ffc107;
    bottom: 0;
    right: 0;
    width: 30vh;
    text-align: center;
    border-radius: 50px;
}

/* quem-somos vídeo p */

.externo-bg {    
    background-image: url("https://images.unsplash.com/photo-1604147873686-02c49cfdfb1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJhbmFuYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");   
}

#quem-somos {
    display: flex;   
}

#quem-somos .video iframe {
    margin: 5vh 7vh;
    margin-right: 0;   
}

.quem-somos-text h2 {
    text-align: end;
}

#quem-somos .quem-somos-text {
    width: 80%;
    padding: 1vh;
    margin: auto;    
    margin-top: 15vh;
    text-align: justify;
    background-color:  rgba(255, 243, 212, 0.79);
    font-family: 'Roboto', sans-serif;
}

#quem-somos-span {
    color: rgb(4, 10, 65);
    font-size: 3em;
    padding: 2vh;
} 

/* cartão */

#cartao {
    display: flex;    
}

.pedir-cartao-img {
    display: flex;    
    background-size: contain;
    margin-left: 0;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: auto;
}

#cartao-link {
    color: #f2f2f200;
    background-color: #8888881d;
    text-align: center;
    width: 100%;    
}

.pedir-cartao #pedir-cartao-h2 {    
    margin: 4vh 0 auto 5vh;  
    font-size: 14vh;
    text-align: end;
    font-size: 5em;
    font-family: 'Source Code Pro', monospace;    
}

/* img bg tabela */

#servicos-table {
    height: 80vh;   
}

.servicos-img {    
    background-image: url("https://images.unsplash.com/photo-1604148482093-d55d6fc62400?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YmFuYW5hfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: 44vh;    
}

#servicos-h2 {
    margin-left: 5vh;
    font-size: 3em;
    font-family: 'Nunito Sans', sans-serif; 
    color: rgb(10, 55, 55);
}

#servicos-p {
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    margin: auto;
    padding-top: 2vh;
    margin-left: 2vh;
}

/* tabela */
.container-table {
    margin-top: 10vh;
    display: flex;
    justify-content: center;    
}

#servico-tabela th {
    background-color: rgba(117, 117, 172, 0.321);
    color: rgb(59, 56, 56);
}

#servico-tabela tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.075);
}

table, th, td {
    border: 1px solid black;    
    height: 8vh;    
    text-align: center;
}

table {
    width: 70%;    
}

/* abra conta */

.flex-container-abra-conta {    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 235, 235);
}

.abra-conta {
    margin: auto;
    width: auto;
    height: auto;      
}

#abra-conta-h2 {
    font-size: 6em;   
    text-align: center;
    font-family: 'Source Code Pro', monospace;   
}

#abra-conta-img-celular {
    margin: auto;
    padding: 0;
    width: auto; 
    height: auto;    
}

/* form */

#section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding-top: 3vh;
    height: auto;   
}

.container-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;    
    margin-top: 2vh;
    padding-top: 15vh;
    height: auto;
    background-image: url("https://images.unsplash.com/photo-1603833665858-e61d17a86224?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YmFuYW5hfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    position: center;
    opacity: 0.5;
    box-shadow: 10px 5px 5px black;
}

.section-form-h2 {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(5, 5, 3, 0.558); 
    font-size: 6em;
    color: aliceblue;
    padding: 2vh;
    margin-top: 0;
}

.section-form-p {     
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgba(5, 5, 3, 0.359);  
    color: azure; 
    margin-top: 7vh;
}

.form-content {
    display: flex;
    align-items: center;   
}

.form-frase {
    width: 50%;       
}

.form-frase h3 {    
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    margin: auto;
    border-radius: 4px;
    margin-bottom: 0;
    margin-left: 6vh;
    padding: 2vh;
    color: goldenrod;
    background-color: rgba(10, 9, 8, 0.792);
}

.form-frase h6 {
    color: rgb(5, 34, 4);
    text-align: right;
    padding-right: 0px;           
}

.form-container {
     width: 45%;    
     align-items: center;     
     margin: 5vh 5vh 5vh 7vh;
     background-image: linear-gradient(90deg, #060607 0%, #489144 50.52%, #f0e36c 100%);
     padding-top: 4px;
     border-radius: 12px;     
}

.form-container form {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding: 30px;
    letter-spacing: 5px;
    border-radius: 10px;
    background-color: #444443;
    color: aliceblue;
    text-align: left;   
}

.form-container form button {
    border: none;
    border-radius: 5px;
    background-color: rgb(8, 10, 9);
    color: azure;
    max-width: 300px;
    padding: 10px;
    align-self: center;
}

#form-frase-h3 {
    color: aliceblue;
}

/* footer */
.footer-externo-bg {
    background-color: rgba(128, 128, 128, 0.268);  
}

footer {
    padding: 60px 0;
    height: 40vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden; 
}

footer p {
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 20px;
    margin: auto;
    margin-bottom: 4vh;    
}

.footer-banana #footer-right {
    display: flex;
    transform: rotateY(-180deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.footer-banana #footer-left {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;   
}

footer .logo-rede-social img {  
    margin: auto;   
    width: 10vh;
    height: auto;     
}

